*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 60px;
    width: 100%;
    display: inline-block;
    
}

.o{
    color: #2ba9e6;
}

.up-case {
    position: absolute;
    margin: 20px;
    text-transform: uppercase;
    font-weight: bold;
    left: 250px;
}

nav {
    
    word-spacing: 20px;
    position: absolute;
    left: 980px;
    top: 20px;
    
}

a {
    text-decoration: none;
    color: grey;
    display: inline-block;
    position: relative;
    text-decoration: none;
}


a:before {
    display: block;
    position: absolute;
    content: "";
    height: 2px;
    width: 0;
    background: #0576bc;
    transition: width 0.3s ease-in-out;
    left: 0;
    bottom : -10px;
}


a:hover:before {
    width: 100%;
}

a:visited{
    color: grey;
}

.linear-grad{
    height: 600px;
    width: 100%;
    background: linear-gradient(to right, #0576bc, #32b3ed);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}

.linear-grad > p {
    font-size: 60px;
    color: white;
}

.container{
    width: 100%;
    height: 1000px;
}



.boxes-container{
    text-align: center;
    color: gray;
    top: 50px;
    position: relative;
}
.first{
    width: 80px;
    position: relative;
    top: 10px;
    left: 500px;
    
}

.second{
    width: 80px;
    position: relative;
    top: 10px;
    left: 760px;
    
}

.boxes{
    
    width: 100%;
    height: 300px;
    margin:  40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box{
    width: 200px;
    height: 200px;
    background: #dedede;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.img-container{
    text-align: center;
    color: gray;
    top: 50px;
    position: relative;
}

.three{
    width: 80px;
    position: relative;
    top: 10px;
    left: 500px;
    
}

.four{
    width: 80px;
    position: relative;
    top: 10px;
    left: 760px;
    
}

#categoryOne{
   -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background: #0576bc;
  padding: 10px 20px 10px 20px;
  border: solid #0576bc 2px;
  text-decoration: none;
   margin: 30px 10px ;
   cursor: pointer;
}

#categoryTwo{
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #0576bc;
  font-size: 14px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #0576bc 2px;
  text-decoration: none;
  margin: 30px 10px ;
  cursor: pointer;
}

#hide{
    display: block;
}


#categoryTwo:hover {
  background: #0576bc;
  text-decoration: none;
  color: #595959;
}


#categoryOne:hover {
  background: #595959;
  color: #0576bc;
}
.imges{
    width: 100%;
    height: 350px;
    margin:  5px 0 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

img{
    margin: 10px;
}






.footer{
    width: 100%;
    height:200px;
    background-color: #1a1a1a;
}

.foot-container{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.foot-boxes{

    width: 200px;
    height: 150px;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: #dedede;
}
.foot-boxes p {
    font-size: 12px;
}

.one{
    width: 40%;
    color: #0576bc;
    background-color: #0576bc;
    border: 0;
    height: 2px;
    position: relative;
    
}
.two{
    width: 40%;
    color: #dedede;
    background-color: #dedede;
    border: 0;
    height: 2px;
    position: relative;
    left: 60px;
    bottom: 2px;
}

h3{
    text-transform: uppercase;
}
h5{
    margin: 6px 0;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #595959;
  font-size: 10px;
  background: #1a1a1a;
  padding: 7px 15px 7px 15px;
  border: solid #595959 1px;
  text-decoration: none;
  margin: 6px 6px 6px 0;
  cursor: pointer;
}

.btn-2{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #2ba9e6;
  font-size: 10px;
  background: #1a1a1a;
  padding: 7px 15px 7px 15px;
  border: solid #2ba9e6 1px;
  text-decoration: none;  
   margin: 6px 0;
   cursor: pointer;
}
.btn-2:hover {
  background: #0576bc;
  text-decoration: none;
  color: #595959;
}

ul{
    font-size: 12px;
    margin: 9px 0;
    word-spacing: 2px;
    
}

li{
    margin:8px 0;
    list-style-type: none;
    font-size: 10px;
    color: #595959;
}

li:before{
    content: '\25ba';
    padding-right: 5px;
    font-size: 8px;
}