*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container{
    width: 100%;
}

.o{
    color: #2ba9e6;
}

.up-case { 
    margin: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
   
}

.navBar {
   display: flex;
   justify-content: space-around;
   
}
a{
    text-decoration: none;
    color: black;
    display: inline-block;
    text-decoration: none;
}

 .navMenu {
    margin: 1.3em;
    text-decoration: none;
    color: grey;
}


.navMenu:after{
   
    display: block;
    content: "";
    height: 3px;
    width: 0;
    background: #0576bc;
    transition: width 0.3s ease-in-out;
    
    
}


.navMenu:hover:after {
    width: 100%;
}

.navMenu:visited{
    color: grey;
}

.linear-grad{
    height: 40em;
    width: 100%;
    background: linear-gradient(to right, #0576bc, #32b3ed);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  
    
}

.linear-grad > p {
    font-size: 3.5em;
    color: white;
}

.container{
    width: 100%;
}



.boxes-container{
    text-align: center;
    color: gray;
    margin:60px 0 0 0  ;
}



.first{
    width: 8%;
    position: relative;
    top: 0.6em;
    left: 37%;
    
}

.second{
    width: 8%;
    position: relative;
    top: 0.6em;
    left: 55%;
    
}

.boxes{
    
    width: 100%;
    margin:  40px 0 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

.box{
    height: 15em;
    width: 15em;
    background: #dedede;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.img-container{
    text-align: center;
    color: gray;
    
    
}

.three{
    width: 8%;
    position: relative;
    top: 10px;
     left: 37%;
    
}

.four{
   width: 8%;
    position: relative;
    top: 10px;
    left: 55%;
    
}

.categoryOne{
   -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #0576bc;
  font-size: 14px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #0576bc 2px;
  text-decoration: none;
   margin: 30px 10px ;
   cursor: pointer;
}

.categoryTwo{
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #0576bc;
  font-size: 14px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #0576bc 2px;
  text-decoration: none;
  margin: 30px 10px ;
  cursor: pointer;
}

.categoryActiv{
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  background:#0576bc ;
  padding: 10px 20px 10px 20px;
  border: solid #0576bc 2px;
  text-decoration: none;
  margin: 30px 10px ;
  cursor: pointer;
}

#hide{
    display: block;
}


.categoryTwo:hover {
  background:#0576bc ;
  text-decoration: none;
  color:#595959 ;
}


.categoryOne:hover {
 background:#0576bc ;
  color:#595959 ;
}
.imges{
    width: 100%;
    margin:  40px 0 40px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   
}

img{
    margin: 20px;
}

.footer{
    width: 100%;
    background-color: #1a1a1a;
}

.foot-container{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.foot-boxes{

    width: 13em;
    height: 9em;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: #dedede;
}
.foot-boxes p {
    font-size: 12px;
}

.one{
    width: 40%;
    color: #0576bc;
    background-color: #0576bc;
    border: 0;
    height: 2px;
    position: relative;
    
}
.two{
    width: 40%;
    color: #dedede;
    background-color: #dedede;
    border: 0;
    height: 2px;
    position: relative;
    left: 60px;
    bottom: 2px;
}

h3{
    text-transform: uppercase;
}
h5{
    margin: 6px 0;
}
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #595959;
  font-size: 10px;
  background: #1a1a1a;
  padding: 7px 15px 7px 15px;
  border: solid #595959 1px;
  text-decoration: none;
  margin: 6px 6px 6px 0;
  cursor: pointer;
}

.btn-2{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #2ba9e6;
  font-size: 10px;
  background: #1a1a1a;
  padding: 7px 15px 7px 15px;
  border: solid #2ba9e6 1px;
  text-decoration: none;  
   margin: 6px 0;
   cursor: pointer;
}
.btn-2:hover {
  background: #0576bc;
  text-decoration: none;
  color: #595959;
}

ul{
    font-size: 12px;
    margin: 9px 0;
    word-spacing: 2px;
    
}

li{
    margin:8px 0;
    list-style-type: none;
    font-size: 10px;
    color: #595959;
}

li:before{
    content: '\25ba';
    padding-right: 5px;
    font-size: 8px;
}


@media  screen and (max-width: 768px){
    hr{
        display: none; 
    }
}
